<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>all people</title>
</head>
<body/>
<center>
    <form method="get" action="search">
        <input type="text" name="keyword" />
        <input type="submit" value="Search" />
    </form>
    <br/>
       <div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFirstname()+'
       , ' +person.getAge()+'
       ,'+ person.getEmail()}">user</a>
</div>
 <br>
<hr/>
<a href="/people/new">Create new person</a>
</center>
</body>
</html>