<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<center>
          <p th:text="${'User age:' + person.getAge()}">VALUE</p>
          <p th:text="${'User email: ' + person.getEmail()}">VALUE</p>
          <p th:text="${'User id :' +person.getId()}">VALUE</p>

          <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
              <input style="color:red" type="submit" value="Delete"/>

              <a style="color:blue" th:href="@{/people/{id}/edit(id=${person.getId()})}">EDIT</a>

</form>
</center>
</body>

</html>